# Ignore composer dependencies
/vendor/
/test/

# Ignore environment variables
.env

# Ignore composer lock file
composer.lock

# Ignore logs
.txt

# Ignore other temporary files
.DS_Store
Thumbs.db
general_log.txt
